#timeline {
  margin-top: 1rem;
  height: 5rem;
  background-color: #00000055;
  position: relative;
}

#timeline__cursor {
  height: 100%;
  width: 2px;
  background-color: red;
  position: relative;
}

#timeline__cursor__legend {
  position: absolute;
  width: 10rem;
  top: -1rem;
  left: -5rem;
}
